version: "3.8"

services:
  connect: 
    image: strausmann/minecraft-bedrock-connect
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.platform.os == linux
    environment:
      SERVER_PORT: 19132
    ports:
      - 19132:19132/udp
    volumes:
      - /var/data/minecraft/connect:/data

  server1: 
    image: itzg/minecraft-bedrock-server
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
      resources:
        limits:
          memory: 2G
        reservations:
          cpus: "2"
          memory: 2G
      placement:
        constraints:
          - node.platform.os == linux
    environment:
      SERVER_NAME: "Kiras Minecraft Server"
      SERVER_PORT: "19133"
      SERVER_PORT_V6: "19233"
      EULA: "TRUE"
      GAMEMODE: survival
      DIFFICULTY: normal
      WHITE_LIST: "false"
      ONLINE_MODE: "true"
      ALLOW_CHEATS: "true"
      MAX_PLAYERS: "15"
    ports:
      - 19133:19133/udp
    volumes:
      - /var/data/minecraft/server1:/data
    stdin_open: true
    tty: true

networks:
  traefik-public:
    external: true